<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is page</title>
</head>

<body>
    <h1>Products List </h1>
    <ul>
        <% for(let product of products) { %>

            <%const id=product.id%>
                <!-- <%=product.name%> <a href=`http://localhost:3000/products/${id}`>link</a> -->
                <li>
                    <a href='products/<%=id%>'>
                        <%=product.name%>
                    </a> 
                </li>
                <%}%>
    </ul>
    <a href=".\products\new">Make new</a>
</body>

</html>